@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

// color scheme
// https://www.colorcombos.com/color-schemes/374/ColorCombo374.html


* {
    margin: 0;
    padding: 0;
}

html body {
  background-color: teal;
}

.board {
  display: flex;
  flex-direction: column;
  // background-color: white;
  align-content: center;
  height: 100vh; // make container take the entire height of viewport
  margin: 20px;
}

.board-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  // min-height: 100vmin;

  // https://www.quirksmode.org/css/units-values/viewport.html
  // min-height: calc(100%vmin/4);
  // min-width: calc(100%vmin/4);

  align-content: center;
}

.square {
  border: solid black;
  border-radius: 10px;
  // min-height: 200px;
  padding: 10px;
// Source
// https://www.w3schools.com/cssref/css_units.asp
  min-height: calc(100vh/4 - 15px);
  min-width: calc(100vw/3 - 5px);
  // max-width: 200px;
  // min-width: 200px;
  // min-height: calc(100%vmin/4);
  background-color: orange;
  font-size: 100%;
  user-select: none;
}

.game-cell:hover {
  background-color:teal;
  color: white;
}

.move-decoration {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: 'Gloria Hallelujah', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: calc(100vh/6 - 30px);
}

.dashboard {
  // border: solid black;
  // border-radius: 10px;
  color: black;
  text-align: center;
}

#dashboard-title {
  font-family: 'Gloria Hallelujah', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.dashboard-image {
  max-width: 100%;
  max-height: 100%;
}

.dashboard-start {
  justify-content: center;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: stretch;
  // color: cyan;
}

#winner-celebration {
  background-image: "public/images/fireworks01.gif";
  max-width: 70%;
  justify-content: center;
}

.score-details {
  display: flex;

}

#sign-up {
  display: flex;
  flex-direction: column;
  // border-radius: 10px;
  // min-width: calc(100%/4);
  margin-top: 10px;
}

#sign-in {
  display: flex;
  flex-direction: column;
  // border-radius: 10px;
  // min-width: calc(100%/4);
  margin-top: 10px;
}

#support-sign-out {
  display: flex;
  flex-direction: column;
  // border-radius: 10px;
  // min-width: calc(100%/4);
}

#change-password {
  display: flex;
  flex-direction: column;
  // min-width: calc(100%/4);
}

.nav-button {
  background-color: orange;
  border: 2px solid black;
  border-radius: 10px;
  min-height: 18px;
  min-width: 100%
  // font-size: calc(100%/2*3);
}

.nav-button:hover {
  background-color: teal;
  color: white;
  border: 2px solid white;
}

h1 {
  background-color: transparent;
  max-width: 100%;
  text-align: center;
  color: black;
  margin: 0;
  font-family: 'Gloria Hallelujah', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
}

h6 {
  background-color: transparent;
  max-width: 100%;
  text-align: center;
  font-family: 'Gloria Hallelujah', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  // font-style: italic;
}
.tips {
  font-weight: bold;
  font-style: italic;
  font-family: 'Gloria Hallelujah', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

span {
  font-size: 150%;
  font-style: italic;
  font-family: 'Gloria Hallelujah', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.score {
  display: flex;
  flex-direction: row;
  align-content: center;
  font-family: 'Gloria Hallelujah', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#sign-out {
  display: none;
}

#change-password{
  display: none;
}

#create-game {
  display: none;
}

#all-games {
  display: none;
}

.form-label {
  display: inline-block;
  width: 150;
  text-align: right;
}

h6 {
  margin: auto;
}


.dashboard {
  background-image: "public/images/fireworks01.gif";
}
